/* Webfont: Fulgent-Regular */@font-face {
    font-family: 'Fulgent';
    src: url('fulgent.woff2') format('woff2'), /* Modern Browsers */
         url('fulgent.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

